<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static "Forms/design.css" %}">
        <title> {% block title %} {% endblock %}</title>
    </head>
    <body>
        <div class="menu">
            <button class="btn-menu" style="font-size: 1.5em" onclick="window.location.href='../'"> FormCreator </button>
            <div class="menu-btnDiv">
                <button class="btn-menu" onclick="window.location.href='../logout'"> LogOut </button>
                <button class="btn-menu" onclick="window.location.href='AdminPanel.php'"> Admin Panel </button>
                <div class="dropdown">
                    <button class="dropbtn">Queries</button>
                    <div class="dropdown-content">
                        <a href="menu.php">Show Queries</a>
                        <a href="CreateQuery.php">Create Query</a>
                    </div>
                </div>
                <button class="btn-menu" onclick="window.location.href='passwordChange'"> Change Password </button>
                <button class="btn-menu" onclick="window.location.href='../'"> Menu </button>
            </div>
        </div>
        <div class="card" id="card">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>